header{height: 233px;
    position: relative;}
header .login{
    width: 100%; height: 31px;
    background-color: #98BB67;
    position: absolute;
    top: 34px;
}
header .login .login_txt{
    position: absolute;
    display: flex;
    right: 10%; top: 8px;
    font-size: 13px;
    font-weight: 300;
}

header .login .login_txt li{
color: #ffffff;
}

header .login .login_txt li::after{
    content: '|';
    margin-right: 10px;
    padding-left: 10px;
}
header .login .login_txt li:last-child::after{
    content: '';
    margin: 0;
    padding: 0;
}

header .logo{}
header .logo h1{
    position: absolute;
    top: 100px;
    left: 50%; transform: translateX(-50%);
}
header .logo h1 img{width: auto; height: 60px;}
header .logo .util{
    display: flex;
    position: absolute;
    right: 10%;
    top: 100px;
    text-align: center; 
}
header .logo .util li{
    margin-right: 20px;

}
header .logo .util li:last-child{
    margin: 0;
}
header .logo .util img{
    width: 28px; height: auto;
}
header .logo .util p{
    font-size: 13px;
    line-height: 1px;
}
header nav{}
header nav .allmenu{
    width: 30px; height: 18px;
    bottom: 20px;
    position: absolute;
    left: 10%;
    display: block;
    transition: all 0.6s ease-in;
}
header nav .allmenu span{
    position: absolute;
    width: 28px; height: 2px;
    background-color: #98BB67;
    z-index: 100;
}
header nav .allmenu span:nth-child(1){top: 0;}
header nav .allmenu span:nth-child(2){top: 8px;}
header nav .allmenu span:nth-child(3){top: 8px;}
header nav .allmenu span:nth-child(4){top: 16px;}

header nav .allmenu:hover span:nth-child(1){display: none;}
header nav .allmenu:hover span:nth-child(2){transform: rotate(45deg);}
header nav .allmenu:hover span:nth-child(3){transform: rotate(-45deg);}
header nav .allmenu:hover span:nth-child(4){display:none;}

header nav form{
    position: absolute;
    bottom: 20px;
    left: 50%; transform: translateX(-50%);
}
header nav form input{
    width: 363px; height: 35px;
    padding-left: 40px;
    border-radius: 50px;
    border: 1px solid #98BB67;
    outline: none;
}
header nav form img{
    position: absolute;
    left: 5px; top: 3px;
    width: 28px; height: auto;
}
header nav .gnb1{
    display: flex;
    position: absolute;
    left: 13%; bottom: 20px;
}
header nav .gnb1 li{
    margin-left: 15px;
}
header nav .gnb1 li:last-child{
    margin-left: 15px
}
header nav .gnb2{
    display: flex;
    position: absolute;
    right: 10%;
    bottom: 20px;
}
header nav .gnb2 li{
    margin-right: 15px;
}
header nav .gnb2 li:last-child{
    margin-right: 0;
}

/* ------header------ */

main{min-width: 1200px;}
main .mv{position: relative;}
main .mv img{width: 100%;}
main .mv .mvTxt{
    position: absolute;
    top: 50%; transform: translateY(-50%);
    left: 20%;
    letter-spacing: -5%;
}
main .mv .mvTxt1{
    color: #ffffff;
    font-size: 30px;
}
main .mv .mvTxt2{
    font-weight: 300;
font-size:  45px;
line-height: 1.3em;
}
main .mv .mvTxt2 span{
    font-weight: bold;
}
main .mv .mvTxt3{
    font-weight: 300;
    font-size: 20px;
    line-height: 1.3em;
}

/* --------  mainvisual-------- */

.container{}
.container .newItem{margin-top: 160px;}
.container .newItem h2{
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.container .newItem>p{
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    padding-bottom: 67px;
}
.container .newItem ul{
    display: flex;
    justify-content: center;
}
.container .newItem ul li{margin-left: 20px;}
.container .newItem ul li .new_img{
    width: 285px; height: auto;
    overflow: hidden;
    border-radius: 20px; 
}
.container .newItem ul li:first-child .new_img{
    margin-left: 0;
}
.container .newItem ul li .new_img img{
    width: 100%; height: auto;
}
.container .newItem ul li .new_txt{

}
.container .newItem ul li .new_txt .inBox{
    display: flex;
}
.container .newItem ul li .new_txt .inBox p{
    border: 1px solid #98BB67;
    color: #98BB67;
    padding: 3px;
    border-radius: 5px;
    margin-right: 5px;
    font-size: 12px;
}
.container .newItem ul li .new_txt .grayTxt{
    font-size: 12px;
    color: #777777;
    margin-top: -5px;
}
.container .newItem ul li .new_txt p{
    font-size: 15px;
}
.container .newItem ul li .new_txt p span{
    font-size: 20px; font-weight: 700;
}
.container .newItem ul li .new_sale{
    display: flex;
    align-items: center; 
}
.container .newItem ul li .new_sale p{
    padding-left: 15px;
}
.container .newItem ul li .new_sale p:first-child{
    padding: 0;
    font-size: 20px;
    font-weight: bold;
    color: #98BB67;
}

.container .newItem ul li .new_sale .salePrice{
    font-size: 16px; color: #777777;
    text-decoration-line: line-through;
}
/* ----------- newItem --------------- */
.container .bestItem{margin-top: 160px;}
.container .bestItem h2{
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.container .bestItem>p{
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    padding-bottom: 67px;
}
.container .bestItem ul{
    display: flex;
    justify-content: center;
}
.container .bestItem ul li{margin-left: 20px;}
.container .bestItem ul li .best_img{
    width: 285px; height: auto;
    overflow: hidden;
    border-radius: 20px;
}
.container .bestItem ul li:first-child .best_img{
    margin-left: 0;
}
.container .bestItem ul li .best_img img{
    width: 100%; height: auto;
}
.container .bestItem ul li .best_txt{

}
.container .bestItem ul li .best_txt .inBox{
    display: flex;
}
.container .bestItem ul li .best_txt .inBox p{
    border: 1px solid #98BB67;
    color: #98BB67;
    padding: 3px;
    border-radius: 5px;
    margin-right: 5px;
    font-size: 12px;
}
.container .bestItem ul li .best_txt .grayTxt{
    font-size: 12px;
    color: #777777;
    margin-top: -5px;
}
.container .bestItem ul li .best_txt p{
    font-size: 15px;
}
.container .bestItem ul li .best_txt p span{
    font-size: 20px; font-weight: 700;
}
.container .bestItem ul li .best_sale{
    display: flex;
    align-items: center; 
}
.container .bestItem ul li .best_sale p{
    padding-left: 15px;
}
.container .bestItem ul li .best_sale p:first-child{
    padding: 0;
    font-size: 20px;
    font-weight: bold;
    color: #98BB67;
}
.container .bestItem ul li .best_sale .salePrice{
    font-size: 16px; color: #777777;
    text-decoration-line: line-through;
}
/* ------- bestItem -------- */
.eventBn1{
    display: flex;
    justify-content: center;
    margin-top: 160px;
    margin-bottom: 100px;
    
}
.eventBn1 div img{
    width: auto; height: 160px;
}
.eventBn1 p{
    font-size: 14px;
}
.eventBn1 p span{
    font-size: 24px;
    font-weight: 700;
}
.eventBn1 .bn1{
    margin-right: 20px;
    position: relative;
}
.eventBn1 .bn2{
    position: relative;
}

.eventBn1 .bn1 p{
    position: absolute;
    top: 50px; left: 50px;
    line-height: 1.1em;

}
.eventBn1 .bn2 p{
    position: absolute;
    top: 50px; left: 50px;
    line-height: 1.1em;
}