header{height: 233px;
    position: relative;}
header .login{
    width: 100%; height: 31px;
    background-color: #98BB67;
    position: absolute;
    top: 34px;
}
header .login .login_txt{
    position: absolute;
    display: flex;
    right: 10%; top: 8px;
    font-size: 13px;
    font-weight: 300;
}

header .login .login_txt li{
color: #ffffff;
}

header .login .login_txt li::after{
    content: '|';
    margin-right: 10px;
    padding-left: 10px;
}
header .login .login_txt li:last-child::after{
    content: '';
    margin: 0;
    padding: 0;
}

header .logo{}
header .logo h1{
    position: absolute;
    top: 100px;
    left: 50%; transform: translateX(-50%);
}
header .logo h1 img{width: auto; height: 60px;}
header .logo .util{
    display: flex;
    position: absolute;
    right: 10%;
    top: 100px;
    text-align: center; 
}
header .logo .util li{
    margin-right: 20px;

}
header .logo .util li:last-child{
    margin: 0;
}
header .logo .util img{
    width: 28px; height: auto;
}
header .logo .util p{
    font-size: 13px;
    line-height: 1px;
}
header nav{}
header nav .allmenu{
    width: 30px; height: 18px;
    bottom: 20px;
    position: absolute;
    left: 10%;
    display: block;
    
}
header nav .allmenu span{
    position: absolute;
    width: 28px; height: 2px;
    background-color: #98BB67;
    z-index: 100;
    transition: all 0.3s ease-in-out;
}
header nav .allmenu span:nth-child(1){top: 0;}
header nav .allmenu span:nth-child(2){top: 8px;}
header nav .allmenu span:nth-child(3){top: 8px;}
header nav .allmenu span:nth-child(4){top: 16px;}

header nav .allmenu:hover span:nth-child(1){display: none;}
header nav .allmenu:hover span:nth-child(2){transform: rotate(45deg);}
header nav .allmenu:hover span:nth-child(3){transform: rotate(-45deg);}
header nav .allmenu:hover span:nth-child(4){display:none;}

header nav form{
    position: absolute;
    bottom: 20px;
    left: 50%; transform: translateX(-50%);
}
header nav form input{
    width: 363px; height: 35px;
    padding-left: 40px;
    border-radius: 50px;
    border: 1px solid #98BB67;
    outline: none;
}
header nav form img{
    position: absolute;
    left: 5px; top: 3px;
    width: 28px; height: auto;
}
header nav .gnb1{
    display: flex;
    position: absolute;
    left: 13%; bottom: 20px;
}
header nav .gnb1 li:hover a{
    font-weight: 700;
    color: #3A7714;
}

header nav .gnb1 li{
    margin-left: 15px;
}
header nav .gnb1 li:last-child{
    margin-left: 15px
}
header nav .gnb2{
    display: flex;
    position: absolute;
    right: 10%;
    bottom: 20px;
}
header nav .gnb2 li{
    margin-right: 15px;
}
header nav .gnb2 li:hover a{
    font-weight: 700;
    color: #3A7714;
}
header nav .gnb2 li:last-child{
    margin-right: 0;
}

/* ------header------ */

main{min-width: 1200px;}
main .mv{position: relative;}
main .mv img{width: 100%;}
main .mv .mvTxt{
    position: absolute;
    top: 50%; transform: translateY(-50%);
    left: 20%;
    letter-spacing: -5%;
}
main .mv .mvTxt1{
    color: #ffffff;
    font-size: 30px;
}
main .mv .mvTxt2{
    font-weight: 300;
font-size:  45px;
line-height: 1.3em;
}
main .mv .mvTxt2 span{
    font-weight: bold;
}
main .mv .mvTxt3{
    font-weight: 300;
    font-size: 20px;
    line-height: 1.3em;
}

/* --------  mainvisual-------- */

.container{}
.container .newItem{margin-top: 160px;}
.container .newItem h2{
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.container .newItem>p{
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    padding-bottom: 67px;
}
.container .newItem ul{
    display: flex;
    justify-content: center;
}
.container .newItem ul li{margin-left: 20px;}
.container .newItem ul li .new_img{
    width: 285px; height: auto;
    overflow: hidden;
    border-radius: 20px; 
}
.container .newItem ul li:first-child .new_img{
    margin-left: 0;
}
.container .newItem ul li .new_img img{
    width: 100%; height: auto;
    transition: all 0.3s;
}
.container .newItem ul li .new_img:hover img{
    transform: scale(1.1);
}
.container .newItem ul li .new_txt{

}
.container .newItem ul li .new_txt .inBox{
    display: flex;
}
.container .newItem ul li .new_txt .inBox p{
    border: 1px solid #98BB67;
    color: #98BB67;
    padding: 3px;
    border-radius: 5px;
    margin-right: 5px;
    font-size: 12px;
}
.container .newItem ul li .new_txt .grayTxt{
    font-size: 12px;
    color: #777777;
    margin-top: -5px;
}
.container .newItem ul li .new_txt p{
    font-size: 15px;
}
.container .newItem ul li .new_txt p span{
    font-size: 20px; font-weight: 700;
}
.container .newItem ul li .new_sale{
    display: flex;
    align-items: center; 
}
.container .newItem ul li .new_sale p{
    padding-left: 15px;
}
.container .newItem ul li .new_sale p:first-child{
    padding: 0;
    font-size: 20px;
    font-weight: bold;
    color: #98BB67;
}

.container .newItem ul li .new_sale .salePrice{
    font-size: 16px; color: #777777;
    text-decoration-line: line-through;
}
.container .newItem .button{
    position: relative;
    display: flex;
    justify-content: space-between;
    top: -325px;
    margin: 0 280px 0 280px;
}
/* ----------- newItem --------------- */
.container .bestItem{margin-top: 160px;}
.container .bestItem h2{
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.container .bestItem>p{
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    padding-bottom: 67px;
}
.container .bestItem ul{
    display: flex;
    justify-content: center;
}
.container .bestItem ul li{margin-left: 20px;}
.container .bestItem ul li .best_img{
    width: 285px; height: auto;
    overflow: hidden;
    border-radius: 20px;
}
.container .bestItem ul li:first-child .best_img{
    margin-left: 0;
}
.container .bestItem ul li .best_img img{
    width: 100%; height: auto;
    transition: all 0.3s;
}
.container .bestItem ul li .best_img:hover img{
    transform: scale(1.1);
}
.container .bestItem ul li .best_txt{}
.container .bestItem ul li .best_txt .inBox{
    display: flex;
}
.container .bestItem ul li .best_txt .inBox p{
    border: 1px solid #98BB67;
    color: #98BB67;
    padding: 3px;
    border-radius: 5px;
    margin-right: 5px;
    font-size: 12px;
}
.container .bestItem ul li .best_txt .grayTxt{
    font-size: 12px;
    color: #777777;
    margin-top: -5px;
}
.container .bestItem ul li .best_txt p{
    font-size: 15px;
}
.container .bestItem ul li .best_txt p span{
    font-size: 20px; font-weight: 700;
}
.container .bestItem ul li .best_sale{
    display: flex;
    align-items: center; 
}
.container .bestItem ul li .best_sale p{
    padding-left: 15px;
}
.container .bestItem ul li .best_sale p:first-child{
    padding: 0;
    font-size: 20px;
    font-weight: bold;
    color: #98BB67;
}
.container .bestItem ul li .best_sale .salePrice{
    font-size: 16px; color: #777777;
    text-decoration-line: line-through;
}
.container .bestItem .button{
    position: relative;
    display: flex;
    justify-content: space-between;
    top: -325px;
    margin: 0 280px 0 280px;
}
/* ------- bestItem -------- */

.eventBn1{
    display: flex;
    justify-content: center;
    margin-top: 140px;
    margin-bottom: 140px;
    
}
.eventBn1 div img{
    width: auto; height: 160px;
}
.eventBn1 p{
    font-size: 14px;
}
.eventBn1 p span{
    font-size: 24px;
    font-weight: 700;
}
.eventBn1 .bn1{
    margin-right: 20px;
    position: relative;
}
.eventBn1 .bn2{
    position: relative;
}

.eventBn1 .bn1 p{
    position: absolute;
    top: 50px; left: 50px;
    line-height: 1.1em;

}
.eventBn1 .bn2 p{
    position: absolute;
    top: 50px; left: 50px;
    line-height: 1.1em;
}
/* event banner */

.search{
    width: 100%; height: 326px;
    background-color: #F3FFE1;
}
.search .searchTit{
    padding-top: 38px;
    margin-bottom: -30px;
}
.search .searchTit h2{
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.search .searchTit>P{
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    padding-bottom: 67px;
}
.search .searchTxt{
    display: flex;
flex-flow: column nowrap; 
}
.search .searchTxt ul{
    display: flex;
    justify-content: center;
}
.search .searchTxt ul li{

    border: 1px solid #000;
    padding: 5px 20px 5px 20px;
    border-radius: 50px;
    text-align: center;
    margin-bottom: 20px;
    margin-left: 20px;

}
.search .searchTxt ul li.on{
    border: 1px solid #98BB67;
    background-color: #98BB67;
}
.search .searchTxt ul li.on a{
    color: #ffffff;
}
/* -------인기있는 검색어---------- */

.eventBn2{
    display: flex;
    justify-content: center;
    margin-top: 140px;
    margin-bottom: 140px;
    
}
.eventBn2 div img{
    width: auto; height: 160px;
    border-radius: 20px;
}
.eventBn2 .bn3{
    margin-right: 20px;
    position: relative;
}
.eventBn2 .bn4{
    position: relative;
}
/* --------- 이벤트베너------------- */

.container .eventItem{margin-top: 160px;}
.container .eventItem h2{
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.container .eventItem>p{
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    padding-bottom: 67px;
}
.container .eventItem ul{
    display: flex;
    justify-content: center;
}
.container .eventItem ul li{margin-left: 20px;}
.container .eventItem ul li .event_img{
    width: 285px; height: auto;
    overflow: hidden;
    border-radius: 20px;
}

.container .eventItem ul li:first-child .event_img{
    margin-left: 0;
}
.container .eventItem ul li .event_img img{
    width: 100%; height: auto;
    transition: all 0.3s;
}
.container .eventItem ul li .event_img img:hover{
    transform: scale(1.05);
}
.container .eventItem ul li .event_txt{}
.container .eventItem ul li .event_txt .inBox{
    display: flex;
}
.container .eventItem ul li .event_txt .inBox p{
    border: 1px solid #98BB67;
    color: #98BB67;
    padding: 3px;
    border-radius: 5px;
    margin-right: 5px;
    font-size: 12px;
}
.container .eventItem ul li .event_txt .grayTxt{
    font-size: 12px;
    color: #777777;
    margin-top: -5px;
}
.container .eventItem ul li .event_txt p{
    font-size: 15px;
}
.container .eventItem ul li .event_txt p span{
    font-size: 20px; font-weight: 700;
}
.container .eventItem .event_sale{
    display: flex;
    align-items: center;
}
.container .eventItem ul li .event_sale p{
    padding-left: 15px;
}
.container .eventItem ul li .event_sale p:first-child{
    padding: 0;
    font-size: 20px;
    font-weight: bold;
    color: #98BB67;
}
.container .eventItem ul li .event_sale .salePrice{
    font-size: 16px; color: #777777;
    text-decoration-line: line-through;
}
.container .eventItem .button{
    position: relative;
    display: flex;
    justify-content: space-between;
    top: -325px;
    margin: 0 280px 0 280px;
}
/* ---------EVENT ITEM------- */

/* --------- photoreview --------- */
.photoReview_wrap{margin-top: 160px;}
.photoReview_wrap h2{
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.photoReview_wrap p{
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    /* padding-bottom: 67px; */
}
.photoReview_wrap .pReview{
    margin-top: 67px;
}
.photoReview_wrap .pReview ul{
    display: flex;
    justify-content: center;
}
.photoReview_wrap .pReview ul li{
    width: 285px; height: 431px;
    border-radius: 20px;
    overflow: hidden;
    padding: 18px;
    box-sizing: border-box;
    border: 1px solid #999999;
    margin-left: 20px;
    position: relative;
}
.photoReview_wrap .pReview ul li:first-child{
    margin-left: 0;
}
.photoReview_wrap .pReview .rePhoto{
    width: 249px; height: 241px;
    overflow: hidden;
}
.photoReview_wrap .pReview .rePhoto img{
    width: 100%; height: 100%;
    border-radius: 20px;
}
.photoReview_wrap .pReview li .revTxt{
    margin-top: 20px;
}
.photoReview_wrap .pReview li .revTxt h3{
    font-size: 15px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden; /* 넘치는 텍스트를 숨김 */
    text-overflow: ellipsis; /* 넘치는 텍스트를 ...으로 표시 */
    width: 100%;

}
.photoReview_wrap .pReview li .revTxt .revTxt_gray{
    font-size: 14px;
    font-weight: 300;
    display: -webkit-box; /* Flexbox와 비슷하지만 텍스트 생략을 위해 사용 */
-webkit-line-clamp: 4; /* 3줄까지만 표시 */
-webkit-box-orient: vertical; /* 세로 방향으로 박스 정렬 */
overflow: hidden; /* 넘치는 텍스트를 숨김 */
text-overflow: ellipsis; /* 넘치는 텍스트를 ...으로 표시 */
}
.photoReview_wrap .pReview li .revTxt .id{
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden; /* 넘치는 텍스트를 숨김 */
    text-overflow: ellipsis; /* 넘치는 텍스트를 ...으로 표시 */
    width: 100%;
}
.photoReview_wrap .button{
    position: relative;
    display: flex;
    justify-content: space-between;
    top: -225px;
    margin: 0 280px 0 280px;
}
/* --------- photoreview --------- */


.cont_bottom{}
.cont_bottom .loveWrap{
    position: relative;
    margin-top: 160px;
    margin-bottom: 160px;
}
.cont_bottom .loveWrap img{
    width: 100%;
}
.cont_bottom .loveWrap p{
    position: absolute;
    font-size: 16px;
    text-align: center;
    top: 40%; left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: -2%;
    
}
.cont_bottom .loveWrap p span{
    font-family: 'MapoGoldenPier';
    color: #3A7714;
    font-size: 30px;
    letter-spacing: -3%;
    line-height: 2em;
}
/* 시드물은 자연과 동물을 사랑합니다. */
.btnWrap{margin-bottom: 160px;}
.btnWrap ul{
    display: flex;
    justify-content: center;
}
.btnWrap .box{
    width: 305px; height: 110px;
    border: 1px solid #eeeeee;
    box-sizing: border-box;
    padding: 15px 20px;
    margin-right: 20px;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}
.btnWrap .box:hover{
    background-color: #F3FFE1;
    border: 1px solid #F3FFE1;
}
.btnWrap .box:last-child{
    margin-right: 0;
}
.btnWrap .box a{
    display: flex;
    align-items: center;
}
.btnWrap .box img{
    width: auto; height: 38px;
}
.btnWrap .box .btnTxt{
    padding: 10px 0 0 20px;
    
}
.btnWrap .box .btnTxt h3{
    font-size: 18px;
    font-weight: 800;
}
.btnWrap .box .btnTxt p{
    font-size: 14px;
    font-weight: 400;
}

#footer{
    width: 100%; height: 400px;
    background-color: #eeeeee;
    padding: 60px 0 30px 0;
}
#footer .ftBg_wrap{
    width: 1200px;
    margin: 0 auto;
}
#footer .ftBg_wrap .footer_menu1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
#footer .ftBg_wrap .footer_menu1 a{}
#footer .ftBg_wrap .footer_menu1 a img{width: auto; height: 50px;}
#footer .ftBg_wrap .footer_menu1 .fmenu{
    display: flex;
    font-size: 13px;
}
#footer .ftBg_wrap .footer_menu1 .fmenu li{
    margin-right: 20px;
}
#footer .ftBg_wrap .footer_menu1 .snsMenu{}
#footer .ftBg_wrap .footer_menu1 .snsMenu>a{}
#footer .ftBg_wrap .footer_menu1 .snsMenu>a img{
    width: auto; height: 30px; margin: 3px;
}
.footer_menu2{
    display: flex;
justify-content: space-between;
margin-top: 50px;
}
.footer_menu2>div h3{
    font-weight: 700;
}
.footer_menu2>div>ul>li{
    font-size: 13px;
    font-weight: 300;
    line-height: 1.5em;
}